*{
    margin: 0;
    padding: 0;
    border: 0;
}

div{
    display: block;
}

.banner {
    color: black;
    padding: 0.5rem;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    font-weight: 700;
    font-size: 28px;
    /* height: 45px; */
    width: 100%;
    background: #fff;
    padding-right: 16px;
    overflow: hidden;
    box-shadow: 0px 1px 0px rgba(0,0,0,.2);
}

.hub-welcome {
    padding: 15px 0;
    background-color: #4d88f9;

}


.crossword-content {
    flex: 1 0 auto;
    position: relative;
    margin: 0;
    margin-top: 12px;
    padding: 0;
    border: 0;
    }

.title-bar {
    padding-top: 24px;
    padding-bottom: 24px;
    margin: 0 auto;
    max-width: 1280px;
    
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    min-height: 1px;
}

.game-header {
    margin: 0 12px;
    flex: 1 1 auto;
    padding: 0;
    border: 0;
}

.header-wrapper {
    margin: 0 22px;
    max-width: 1132px;
    padding: 0 5px;
    display: block;
}

.details-container {
    font-family: nyt-franklin,Arial;
    font-weight: 200;
    width: 100%;
    padding-right: 0;

    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0 auto;
    
}

.details-title{
    font-size: 2rem;
    line-height: 2.5rem;
    display: inline-block;
    font-weight: 700;
    margin-right: 16px;
}

.details-date{
    font-size: 1.5625rem;
    line-height: 2.03125rem;
    display: inline-block;
    font-family: nyt-franklin,Arial;
}

.details-byline{
    text-align: left;
    font-size: 0.875rem;
    line-height: 1.1375rem;
    font-family: nyt-franklin,Arial;
}

.pz-game-screen {
    display: flex;
    flex-direction: column;

    position: relative;
    min-height: 0;
}

/* game area styles */

.pz-game-toolbar {
    border-top: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
}

.pz-row {
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 12px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    min-height: 1px;
}

/* crossword fields */
.pz-game-field {
    background: #fff;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;

}

.xwd__layout_container {
    position: relative;

}

.xwd__layout_puzzle {
    align-items: flex-start;
    display: flex;
    height: 100%;
    max-height: 660px;
    justify-content: space-around;
    margin: auto;
    max-width: 1132px;
    padding: 10px;
    grid-column-gap: 8px;
}

.xwd__layout_clueBarAndBoard {
    display: flex;
    height: 100%;
    width: 48%;

    flex-direction: column;

}

    .xwd__clue-bar-desktop--bar {
        align-items: center;
        background: #dcefff;
        display: flex;
        font-size: 1.2em;
        margin-bottom: 10px;
        min-height: 60px;

    }

    .xwd__clue-bar-desktop--number {
        font-weight: bold;
        min-width: 60px;
        text-align: center;
        width: 60px;
    }

    .xwd__clue-bar-desktop--text .xwd__clue-format{
        padding-right: 10px;
        line-height: 23px;
    }

.xwd__board .xwd__desktop{
    width: 100%;
    height: 100%;
    flex-grow: 1;
    position: relative;
    overflow: hidden;

}

    .xwd__board--content {
        transition: transform 0s ease 0s;
        transform: translate(0px, 0px) scale(1);
        touch-action: none;
        user-select: none;
        -webkit-user-drag: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

        height: 100%;
    }

    .xwd__svg{
        display: block;
        font-family: arial,sans-serif;
        user-select: none;
        width: 100%;
        height: 100%;

    }


    .xwd__cell--cell {
        fill: #fff;
    }

    .xwd__cell--nested:focus {
        outline: none;
    }
    
    .xwd__cell--selected {
        fill: #ffda00;
    }

    :not(svg) {
        transform-origin: 0px 0px;
    }

    svg:not(:root) {
        overflow-clip-margin: content-box;
        overflow: hidden;
    }

/*  ALOT MORE IN SVG */


/* CLUE LIST STYLES */

ol, ul {
    list-style: none;
}   

.xwd__layout--cluelists{
    display: flex;
    height: 100%;
    width: 48%;
    flex-direction: column;
}

    .xwd__clue-list--wrapper{
        margin-bottom: 10px;
        width: 100%;
        display: block;
        padding-left: 10px;
        height: calc(50% - 10px);
    }


    .xwd__clue-list--title{
        border-bottom: 1px solid #e6e6e6;
        content: attr(name);
        font-weight: bold;
        line-height: 2;
        text-transform: uppercase;

    }

    .xwd__clue-list--list{
        height: calc(100% - 40px);
         overflow-y: scroll;
    }

        .xwd__clue--li{
            border-left: 10px solid rgba(0,0,0,0);
            cursor: pointer;
            display: flex;
            padding: 5px 1px;

        }

        .xwd__clue--li .xwd__clue--selected {
            background-color: #a7d8ff;

        }

        .xwd__clue--li .xwd__clue--filled {
            color: #959595;
        }

        .xwd__clue--label {
            font-weight: bold;
            text-align: right;
            min-width: 24px;
            width: 24px;

        }

        .xwd__clue--li span {
            line-height: 1.4;
            margin-right: 5px;
        }

        .xwd__clue--text {
            margin-left: 5px;
        }

        .xwd__clue--text .xwd__clue-format {
            background-color: #dcdcdc;
            color: #dcdcdc;
        }

        .xwd__clue--li .xwd__clue--highlighted {

        }

