/* font-family: 'Bevan', cursive;
font-family: 'Comfortaa', cursive;
font-family: 'Creepster', cursive;
font-family: 'Rokkitt', serif; */

.all-answers {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.answers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    overflow: hidden;
         
}

.answer-reveal {
    margin-top: 8px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.answer-tile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin-right: 4px;
    font-size: 1.2rem;
    padding-top: 1px;
    font-weight: 700;
    background-color: #ffffff;
    border: 2px solid #878a8c;
    color: black;
    perspective: 600px;  /* This gives the container some 3D perspective */
    cursor: move;
    animation-fill-mode: forwards;

    font-family: 'Cabin', cursive;
           
}

#flip-button {
    background-color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    border-radius: 44px;
    letter-spacing: .25px;
    height: 44px;
    color: #333;
    border: 1px solid #ccc;
    font-weight: 700;
    line-height: 1.3rem;
    font-family: 'Comfortaa', cursive;
    margin-bottom: 15px;
  
}

#flip-button,
.scramble-instructions {
  transition: opacity 0.5s ease;
}

.clue-letter {
    background-color: #b82729;
    color: white;
}

@keyframes flip {
    0% { 
        transform: rotateX(0deg); 
        box-shadow: 0 0 5px rgba(0,0,0,0.25); 
        background-color: #ffffff; 
        color: black; 
    }
    
    50% { 
        background-color: #b82729; 
        color: #b82729;
        box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    }
    100% { 
        transform: rotateX(1080deg); 
        background-color: #b82729; 
        box-shadow: 0 0 5px rgba(0,0,0,0.25);
        color: white; 
    }
}


.reveal-image {
    width: 100%;
    z-index: -10;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 4s; /* adjust as needed */
    
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.to-flip {
    animation-fill-mode: forwards;  /* This will make the animation stick to its end state */
    cursor: move;
}


.musical-reveal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    background-color: #f9b9b972;
    border-radius: 15px;
    margin-top: 15px;
    padding: 5px;

}

.scramble-instructions{
    margin: 10px;
   /*  margin-bottom: 30px; */
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    padding-top: 10px;
    border-top: #3333338c dashed;

}

.scramble-container{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    width: 300px;
    height: 100px;
      
}

.first-word, .second-word {
    display: flex;
    gap: 6px;   
}

.second-word {
    margin-top: 10px;
}

.scramble-container .box{
    position: relative;
    width: 32px;
    height: 32px;
    border: 2px solid #878a8c;
    background-color: white;
    font-size: 1.6rem;
}

.box {
    display: flex;
    flex-grow: inherit;
    justify-content: center;
    align-items: center;   
    background: white;
    text-align: center;
    text-transform: uppercase;
    caret-color: transparent;
    font-family: 'Creepster', cursive;
}

.box:focus {
    outline: none;
    background-color:  #b82729 !important; 
    opacity: 0.5;
}


/* Hide cursor */
.box::-webkit-input-placeholder { color: transparent; }
.box:-moz-placeholder { color: transparent; }
.box::-moz-placeholder { color: transparent; }
.box:-ms-input-placeholder { color: transparent; }



